.bigstar50, .bigstar45, .bigstar40, .bigstar35, .bigstar30, .bigstar25, .bigstar20, .bigstar15, .bigstar10, .bigstar05, .bigstar00 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    background: url(../pages/book/img/ic_rating_m.png) no-repeat;
    background: -webkit-image-set(url(../pages/book/img/ic_rating_m.png) 1x, url(/f/shire/ee7f53d76c3f8ed4991bdbafdb9b2c90c0aedfef/pics/rating_icons/ic_rating_m@2x.png) 2x) no-repeat;
    background: -moz-image-set(url(../pages/book/img/ic_rating_m.png) 1x, url(/f/shire/ee7f53d76c3f8ed4991bdbafdb9b2c90c0aedfef/pics/rating_icons/ic_rating_m@2x.png) 2x) no-repeat;
    background: -o-image-set(url(../pages/book/img/ic_rating_m.png) 1x, url(/f/shire/ee7f53d76c3f8ed4991bdbafdb9b2c90c0aedfef/pics/rating_icons/ic_rating_m@2x.png) 2x) no-repeat;
    background: -ms-image-set(url(../pages/book/img/ic_rating_m.png) 1x, url(/f/shire/ee7f53d76c3f8ed4991bdbafdb9b2c90c0aedfef/pics/rating_icons/ic_rating_m@2x.png) 2x) no-repeat;
    width: 75px;
    height: 15px;
    margin: 1px 0 0 0;
    overflow: hidden
}

.bigstar50 + span.rating_num, .bigstar45 + span.rating_num, .bigstar40 + span.rating_num, .bigstar35 + span.rating_num, .bigstar30 + span.rating_num, .bigstar25 + span.rating_num, .bigstar20 + span.rating_num, .bigstar15 + span.rating_num, .bigstar10 + span.rating_num, .bigstar05 + span.rating_num, .bigstar00 + span.rating_num {
    font-size: 16px;
    line-height: 1
}

.bigstar50 {
    background-position: 0 0px
}

.bigstar45 {
    background-position: 0 -15px
}

.bigstar40 {
    background-position: 0 -30px
}

.bigstar35 {
    background-position: 0 -45px
}

.bigstar30 {
    background-position: 0 -60px
}

.bigstar25 {
    background-position: 0 -75px
}

.bigstar20 {
    background-position: 0 -90px
}

.bigstar15 {
    background-position: 0 -105px
}

.bigstar10 {
    background-position: 0 -120px
}

.bigstar05 {
    background-position: 0 -135px
}

.bigstar00 {
    background-position: 0 -150px
}